fastapi
uvicorn
pydantic
motor
pymongo
python-dotenv
email-validator
passlib[bcrypt]
bcrypt
python-jose
numpy
pandas
matplotlib
seaborn
scikit-learn
scipy
jupyter
notebook
ipykernel
plotly
